<% provide(:title, "Tasks") %>
<h1 class="ui header">
    <%= @project.title %>
</h1>
<%= form_for(:taskInput,remote: true) do |f|  %>
    <div class="ui fluid input action">
        <%= f.text_field :title, placeholder: "New Task" %>
        <div class="ui teal button">
            <i class="add icon"></i>
            Add
        </div>
    </div>
<% end %>
<div class="ui middle aligned selection list">
    <% @tasks.each do | task | %>
        <div class="item">
            <div class="content">
                <div class="header">
                    <%= task.title  %>
                </div>
            </div>
        </div>
    <% end %>
</div>